<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div th:fragment="sharedfooter" class="fixed-bottom">
    <div class="text-center" style="font-size: 24px">
        <b class="text-info">Got any problems? Contact support at nt600136@gmail.com</b>
        <div>&copy;2022 - TNiurhechev</div>
    </div>
</div>

<div th:fragment="adminfooter" class="fixed-bottom">
    <div class="text-center" style="font-size: 24px">
        <b class="text-success">Admin mode</b>
        <div>&copy;2022 - TNiurhechev</div>
    </div>
</div>
</body>
</html>