<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sportswear - About us</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div th:insert="layout/header :: sharedheader"></div>
    <div class="text-center" style="margin-top: 200px">
        <h2 class="display-3">About us</h2>
        <p class="font-weight-light text-muted" style="margin: auto; width: 50%; font-size: 24px">
            Welcome to our sportswear store, where comfort meets style! We offer a huge selection of high-quality sportswear from leading brands for all types of activities. Here you will find everything you need for sports, be it working out in the gym, jogging, yoga or simply neat, durable clothes for your everyday life.
        </p>
        <br />
        <br />
        <div>
            @TNiurhechev ©2024
        </div>
    </div>
    <div th:insert="layout/footer :: sharedfooter"></div>
</body>
</html>