<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Sportswear - Sign up</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <label class="navbar-brand text-center" style="font-family: 'Courier New', monospace;
                    font-size: 24px"><b>Sportswear</b></label>
        </nav>
    </header>
    <div class="text-center" style="margin-top: 180px">
        <h2 class="display-4">Sign up now</h2>
        <form style="width: 20%; margin: auto" action="#" th:action="@{/sign-up}" th:object="${signUpModel}" method="post">
            <div class="form-group">
                <label>Nickname</label>
                <input type="text" class="form-control" th:field="*{nickname}" />
            </div>
            <div>
                <label>Password*</label>
                <input type="password" class="form-control" th:field="*{passwd}" />
                <small class="form-text text-muted">*should contain at least 8 symbols</small>
            </div>
            <div>
                <label>Repeat password</label>
                <input type="password" class="form-control" th:field="*{confirm}" />
                <small class="form-text text-muted">We don't share your data with anyone</small>
            </div>
            <button type="submit" class="btn btn-lg btn-outline-primary" style="margin-top: 10px">Sign up</button>
        </form>
        <p class="text-danger" th:text="${error}"></p>
    </div>
    <div th:insert="layout/footer :: sharedfooter"></div>
</body>
</html>